<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="dk.feedbackbox.screen_recorder_box" 
  android:requestLegacyExternalStorage="true">
  
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
